<div class="card" style="width: 18rem;">
    <div style=" height: 20rem; overflow: hidden;">
        <img class="card-img-top" src="assets/images/Spider Man.jpg" alt="Card image cap" style="overflow: hidden">
    </div>
    <div class="card-body">
      <h5 class="card-title">Spider Man</h5>
      <p class="card-text">Fantasy Spider-Man swings through dimensions, battling alternate reality foes triumphantly.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-primary fw-bold ">With great power comes responsibility.</li>
      <li class="list-group-item text-success  fw-bold">Swinging through skies, protecting all.</li>
      <li class="list-group-item text-warning  fw-bold">Spider-Man, your friendly neighborhood hero.</li>
    </ul>
    <div class="card-body">
      <a href="https://www.instagram.com/spiderman/?hl=ar" class="card-link">Instagram</a>
      <a href="#" class="card-link">Facebook</a>
    </div>
  </div>